@model ASPCoreFirstApp.Models.ProductModel

@{
    var s = @Model.Name;
    var firstword = s.IndexOf(" ") > -1 ? s.Substring(0, s.IndexOf(" ")) : s;
}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://loremflickr.com/160/120/@firstword?lock=@Model.Id" />
    <div class="card-body">
        <h5 class"card-title">@Model.Name</h5>
        <p class="card-text">@Html.DisplayFor(modelItem => Model.Price)</p>
        <a href="/Products/ShowOneProduct/@Model.Id" class="btn btn-primary">Show Details</a>
        <a href="/Products/ShowEditForm/@Model.Id" class="btn btn-warning">Edit</a>
        <a href="/Products/DeleteOne/@Model.Id" class="btn btn-danger">Delete</a>

        <!-- Button trigger modal -->
        <button value="@Model.Id" type="button" class="btn btn-primary edit-product-button"  data-toggle="modal" data-target="#editModal">
            Launch modal
        </button>
    </div>
</div>


